body,
html {
    height: 100vh
}

#pageFirst,
body,
html {
    height: 100vh
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

body {
    position: relative;
    font-size: 62.5%;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: hidden
}

.none {
    display: none
}

.center {
    text-align: center
}

/* ///////////////////////////////////////////////// */
/* settings for video background display /////////// */

.rotatephone {
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 101%;
    text-align: center;
    z-index: 500;
    /* and so on... */
}

@media screen and (orientation: portrait) {
    .rotatephone {
        display: block;
    }
}

@media screen and (orientation: landscape) {
    .rotatephone {
        display: none;
    }
}

/* ///////////////////////////////////////////////// */
/* settings for video background display /////////// */

#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -50;
}

    #video-bg > video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    #video-bg > video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video-bg > video {
        width: 300%;
        left: -100%;
    }
}

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
    #video-bg > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */

/* /////////////////////////////////////////////////
   settings for display page /////////// */


/* /////////////////////////////////////////////////
   settings for loading page /////////// */

#div-loading {
    position: unset;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

    #div-loading > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    #div-loading > img {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #div-loading > img {
        width: 300%;
        left: -100%;
    }
}

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
    #div-loading > img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ///////////////////////////////////////////////// */
/* /////////////////////////////////////////////////
   settings for wrappers /////////// */

.main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}

.wrapper {
    display: table-cell;
    height: 100%
}


/* ///////////////////////////////////////////////// */
/* /////////////////////////////////////////////////
   settings for first page /////////// */

#pageFirst {
    width: 100%
}

    #pageFirst #iosWxMini {
        text-align: center;
        color: #ffc935;
        font-size: 2vh;
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 22vh
    }

    #pageFirst .btn-group {
        position: relative;
        z-index: 2;
        text-align: center;
        margin-top: 40vh
    }

        #pageFirst .btn-group img {
            width: 25%
        }

        #pageFirst .btn-group .btnDown {
            margin-top: 8vh;
            margin-bottom: 5vh
        }

#pageWxIos .icon-wx-ios {
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 10vh
}

#pageWxIos .tip {
    top: 9vh;
    right: 18vh;
    z-index: 50;
    color: #FFF;
    font-size: 1rem;
    position: absolute
}

.maskerMsg,
.page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.page-bg {
    height: 100%;
    z-index: 1
}

.maskerMsg {
    z-index: 50000;
    text-align: center
}

    .maskerMsg .masker {
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: .6
    }
